body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

p {
    margin: 50px;
    
}

h1 {
    margin: 20px;
    color: #cc0033;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
}

.topnav a.active {
    background-color: #cc0033;
    color: white;
}

.topnav a.search {
    font-style: oblique;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }