<!DOCTYPE html>
<html>

<head>
  <title>whereRUeating</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<style type="text/css">
  .wrap {
    width: 870px;
    margin: 0 auto;
    padding-bottom: 200px;
  }

  .left-col {
    float: left;
    width: 400px;
  }

  .right-col {
    float: right;
    width: 450px;
  }

  .center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
</style>

<script>
  // sets the value of the meat options according to val
  function updateMeats(val) {
    document.getElementById("chicken").value = val
    document.getElementById("pork").value = val
    document.getElementById("beef").value = val
    document.getElementById("seafood").value = val
  }

  // disables the meat options according to disable
  function disableMeats(disable) {
    document.getElementById("chicken").disabled = disable
    document.getElementById("pork").disabled = disable
    document.getElementById("beef").disabled = disable
    document.getElementById("seafood").disabled = disable
  }

  // disables the meat buttons according to disable
  function disableMeatsButtons(disable) {
    document.getElementById("include_button").disabled = disable
    document.getElementById("exclude_button").disabled = disable
    document.getElementById("none_button").disabled = disable
  }

  // enables all possibly disabled elements
  function onSubmit() {
    disableMeats(false)
    document.getElementById("dairy").disabled = false
    document.getElementById("vegetarian").disabled = false
  }

  // update around vegetarian
  function vegetarianUpdate() {
    if (document.getElementById("vegan").checked) {
      document.getElementById("vegetarian").checked = true
      document.getElementById("vegetarian").disabled = true
    }

    if (document.getElementById("vegetarian").checked) {
      updateMeats('exclude')
      disableMeats(true)
      disableMeatsButtons(true)
      if (document.getElementById("vegan").checked) {
        document.getElementById("dairy").value = 'exclude'
        document.getElementById("dairy").disabled = true
      }
    }

    if (document.getElementById("vegan").checked == false) {
      document.getElementById("dairy").value = 'none'
      document.getElementById("dairy").disabled = false
      document.getElementById("vegetarian").disabled = false
    }

    if (document.getElementById("vegetarian").checked == false && document.getElementById("vegan").checked == false) {
      updateMeats('none')
      disableMeats(false)
      disableMeatsButtons(false)
    }
  }
</script>

<body>
  <div class="topnav">
    <a href="{{ url_for('home')}}">Home</a>
    <a href="{{ url_for('menu')}}">DH Menu</a>
    <a class="active" href="{{ url_for('search')}}"><b>Search Now!</b></a>
    
    {% if data['username']=="" %}
      <a href="{{ url_for('login')}}">Login Page</a>
      <a href="{{ url_for('create')}}">Create Account</a>
    {% else %}
      <a href="{{ url_for('userSettings') }}">User Settings</a>
      {% if data['username']=="DHadmin" %}
        <a href="{{ url_for('chooseDish') }}">Edit Tags</a>
      {% endif %}
      <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
  </div>

  <div class="container">
    <h1>Off-Campus Restaurants</h1>
  </div>

  <div class="wrap">
    <div class="left-col">
      <form method="post">
        <div class="neutralColor">
          <fieldset>
            <legend>Restaurant Type</legend>
            <div>
              <input type="checkbox" id="takeout" name="tag" value="takeout" {% if "takeout" in
                data['include'] %} checked {% endif %} />
              <label for="takeout_allowed">Has Takeout</label>
            </div>
          </fieldset>

          <fieldset>
            <legend>Payment</legend>
            <div>
              <input type="checkbox" id="meal_swipe_allowed" name="tag" value="meal_swipe_allowed" {%
                if "meal_swipe_allowed" in data['include'] %} checked {% endif %} />
              <label for="meal_swipe_allowed">Accepts Meal Swipes</label>

              <input type="checkbox" id="ru_express_allowed" name="tag" value="ru_express_allowed" {%
                if "ru_express_allowed" in data['include'] %} checked {% endif %} />
              <label for="ru_express_allowed">Accepts RU Express</label>
            </div>
          </fieldset>
          
          <fieldset>
            <legend>Cuisine</legend>
            <div class="container">
              <div>
                <label for="chinese">Chinese</label>
                <select name="chinese" id="chinese">
                  <option value="none" {% if "chinese" not in data['include'] or "chinese" not in data['exclude'] %}
                    selected {% endif %}>--</option>
                  <option value="include" {% if "chinese" in data['include'] %} selected {% endif %}>Include</option>
                  <option value="exclude" {% if "chinese" in data['exclude'] %} selected {% endif %}>Exclude</option>
                </select>
              </div>

              <div>
                <label for="indian">Indian</label>
                <select name="indian" id="indian">
                  <option value="none" {% if "indian" not in data['include'] or "indian" not in data['exclude'] %}
                    selected {% endif %}>--</option>
                  <option value="include" {% if "indian" in data['include'] %} selected {% endif %}>Include</option>
                  <option value="exclude" {% if "indian" in data['exclude'] %} selected {% endif %}>Exclude</option>
                </select>
              </div>

              <div>
                <label for="mediterranean">Middle Eastern/Mediterranean</label>
                <select name="mediterranean" id="mediterranean">
                  <option value="none" {% if "mediterranean" not in data['include'] or "mediterranean" not in data['exclude'] %} selected
                    {% endif %}>--</option>
                  <option value="include" {% if "mediterranean" in data['include'] %} selected {% endif %}>Include</option>
                  <option value="exclude" {% if "mediterranean" in data['exclude'] %} selected {% endif %}>Exclude</option>
                </select>
              </div>

              <div>
                <label for="mexican">Mexican</label>
                <select name="mexican" id="mexican">
                  <option value="none" {% if "mexican" not in data['include'] or "mexican" not in data['exclude'] %}
                    selected {% endif %}>--</option>
                  <option value="include" {% if "mexican" in data['include'] %} selected {% endif %}>Include</option>
                  <option value="exclude" {% if "mexican" in data['exclude'] %} selected {% endif %}>Exclude</option>
                </select>
              </div>

              <div>
                <label for="italian">Italian</label>
                <select name="italian" id="italian">
                  <option value="none" {% if "italian" not in data['include'] or "italian" not in data['exclude'] %}
                    selected {% endif %}>--</option>
                  <option value="include" {% if "italian" in data['include'] %} selected {% endif %}>Include</option>
                  <option value="exclude" {% if "italian" in data['exclude'] %} selected {% endif %}>Exclude</option>
                </select>
              </div>

              <div>
                <label for="japanese">Japanese</label>
                <select name="japanese" id="japanese">
                  <option value="none" {% if "japanese" not in data['include'] or "japanese" not in data['exclude'] %}
                    selected {% endif %}>--</option>
                  <option value="include" {% if "japanese" in data['include'] %} selected {% endif %}>Include</option>
                  <option value="exclude" {% if "japanese" in data['exclude'] %} selected {% endif %}>Exclude</option>
                </select>
              </div>

              <div>
                <label for="cafe">Cafe & Coffee</label>
                <select name="cafe" id="cafe">
                  <option value="none" {% if "cafe" not in data['include'] or "cafe" not in data['exclude'] %} selected
                    {% endif %}>--</option>
                  <option value="include" {% if "cafe" in data['include'] %} selected {% endif %}>Include</option>
                  <option value="exclude" {% if "cafe" in data['exclude'] %} selected {% endif %}>Exclude</option>
                </select>
              </div>

              <div>
                <label for="dessert">Dessert</label>
                <select name="dessert" id="dessert">
                  <option value="none" {% if "dessert" not in data['include'] or "dessert" not in data['exclude'] %} selected
                    {% endif %}>--</option>
                  <option value="include" {% if "dessert" in data['include'] %} selected {% endif %}>Include</option>
                  <option value="exclude" {% if "dessert" in data['exclude'] %} selected {% endif %}>Exclude</option>
                </select>
              </div>

            </div>
          </fieldset>
        </div> 

        <br>
        
        <div class="container">
          <button type="submit" onclick="onSubmit()">Search</button>
        </div>
      </form>
    </div>

    <div class="right-col">
      <div class="neutralColor" style="height:635px;">
          <fieldset style="height:97%;overflow-y:auto;">
            <legend>Restaurants</legend>
              {% for key in data['restaurants'] %}
                <b style="color:red">{{restaurant}} </b><br>
                  <p>{{key}}</p>
                  <p>{{data['restaurants'][key]}}</p>
                  <br>
                <hr>
              {% endfor %}
          </fieldset>
      </div>
    </div>
  </div>

</body>

</html>