<!DOCTYPE html>
<html>

<head>
  <title>whereRUeating</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<style type="text/css">
  #wrap {
    width: 640px;
    margin: 0 auto;
    padding-bottom: 200px;
  }

  #left_col {
    float: left;
    width: 220px;
  }

  #right_col {
    float: right;
    width: 400px;
  }
</style>

<body>
  <div class="topnav">
    <a href="{{ url_for("home")}}">Home</a>
    <a class="active" href="{{ url_for("search")}}"><b>Search Now!</b></a>
    {% if username=="" %}
    <a href="{{ url_for("login")}}">Login Page</a>
    <a href="{{ url_for("create")}}">Create Account</a>
    {% else %}
    <a href="{{ url_for("userSettings") }}">User Settings</a>
      {% if username=="DHadmin" %}
    <a href="{{ url_for("editTags") }}">Edit Tags</a>
      {% endif %}
    <a href="{{ url_for("logout") }}">Logout</a>
    {% endif %}
  </div>

  <div id="wrap">
    <div id="left_col">
      <form method="post">
        <div style="">
          <fieldset>
            <legend>Campus</legend>
            <div>
              <input type="checkbox" id="college_ave" name="campus" value="college_ave" />
              <label for="college_ave">College Ave</label>
            </div>
            <div>
              <input type="checkbox" id="busch" name="campus" value="busch" />
              <label for="busch">Busch</label>
            </div>
            <div>
              <input type="checkbox" id="livingston" name="campus" value="livingston" />
              <label for="livingston">Livingston</label>
            </div>
            <div>
              <input type="checkbox" id="cook_douglass" name="campus" value="cook_douglass" />
              <label for="cook_douglass">Cook/Douglass</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Restaurant Type</legend>
            <div>
              <input type="checkbox" id="dining_hall" name="tag" value="dining_hall" {% if "dining_hall" in data %}
                checked {% endif %} />
              <label for="dining_hall">Dining Hall</label>
            </div>
            <div>
              <input type="checkbox" id="off_campus" name="tag" value="off_campus" {% if "off_campus" in data %} checked
                {% endif %} />
              <label for="off_campus">Off-Campus Restaurant</label>
            </div>
            <div>
              <input type="checkbox" id="takeout_allowed" name="tag" value="takeout" {% if "takeout_allowed" in data %}
                checked {% endif %} />
              <label for="takeout_allowed">Has Takeout</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Payment</legend>
            <div>
              <input type="checkbox" id="meal_swipe_allowed" name="tag" value="meal_swipe_allowed" {%
                if "meal_swipe_allowed" in data %} checked {% endif %} />
              <label for="meal_swipe_allowed">Accepts Meal Swipes</label>
            </div>
            <div>
              <input type="checkbox" id="ru_express_allowed" name="tag" value="ru_express_allowed" {%
                if "ru_express_allowed" in data %} checked {% endif %} />
              <label for="ru_express_allowed">Accepts RU Express</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Preferred Diet</legend>
            <div>
              <input type="checkbox" id="vegan" name="tag" value="vegan" {% if "vegan" in data %} checked {% endif %} />
              <label for="vegan">Vegan</label>
            </div>
            <div>
              <input type="checkbox" id="vegetarian" name="tag" value="vegetarian" {% if "vegetarian" in data %} checked
                {% endif %} />
              <label for="vegetarian">Vegetarian</label>
            </div>
            <div>
              <input type="checkbox" id="halal" name="tag" value="halal" {% if "halal" in data %} checked {% endif %} />
              <label for="halal">Halal</label>
            </div>
            <div>
              <input type="checkbox" id="kosher" name="tag" value="kosher" {% if "kosher" in data %} checked {% endif
                %} />
              <label for="kosher">Kosher</label>
            </div>
          </fieldset>
        </div>
        <div style="background-color:lightgreen;color:black;accent-color:green;">
          <fieldset>
            <legend>Common Products (INCLUDE)</legend>
            <div>
              <input type="checkbox" id="meat" name="tag" value="meat" />
              <label for="meat">Any Meat</label>
            </div>
            <div>
              <input type="checkbox" id="chicken" name="tag" value="chicken" />
              <label for="chicken">Chicken</label>
            </div>
            <div>
              <input type="checkbox" id="pork" name="tag" value="pork" />
              <label for="pork">Pork</label>
            </div>
            <div>
              <input type="checkbox" id="beef" name="tag" value="beef" />
              <label for="beef">Beef and Red Meats</label>
            </div>
            <div>
              <input type="checkbox" id="seafood" name="tag" value="seafood" />
              <label for="seafood">Seafood</label>
            </div>
            <div>
              <input type="checkbox" id="dairy" name="tag" value="dairy" />
              <label for="dairy">Dairy</label>
            </div>
            <div>
              <input type="checkbox" id="nuts" name="tag" value="nuts" />
              <label for="nuts">Nuts</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Cuisine (INCLUDE)</legend>
            <div>
              <input type="checkbox" id="chinese" name="tag" value="chinese" />
              <label for="chinese">Chinese</label>
            </div>
            <div>
              <input type="checkbox" id="indian" name="tag" value="indian" />
              <label for="indian">Indian</label>
            </div>
            <div>
              <input type="checkbox" id="mexican" name="tag" value="mexican" />
              <label for="mexican">Mexican</label>
            </div>
            <div>
              <input type="checkbox" id="italian" name="tag" value="italian" />
              <label for="italian">Italian</label>
            </div>
            <div>
              <input type="checkbox" id="japanese" name="tag" value="japanese" />
              <label for="japanese">Japanese</label>
            </div>
            <div>
              <input type="checkbox" id="cafe" name="tag" value="cafe" />
              <label for="cafe">Cafe and Coffee</label>
            </div>
          </fieldset>
        </div>

        <div style="">
          <fieldset>
            <legend>Common Products (EXCLUDE)</legend>
            <div>
              <input type="checkbox" id="meat" name="tag_exclude" value="meat" {% if "meat" in data %} checked {% endif
                %} />
              <label for="meat">Any Meat</label>
            </div>
            <div>
              <input type="checkbox" id="chicken" name="tag_exclude" value="chicken" {% if "chicken" in data %} checked
                {% endif %} />
              <label for="chicken">Chicken</label>
            </div>
            <div>
              <input type="checkbox" id="pork" name="tag_exclude" value="pork" {% if "pork" in data %} checked {% endif
                %} />
              <label for="pork">Pork</label>
            </div>
            <div>
              <input type="checkbox" id="beef" name="tag_exclude" value="beef" {% if "beef" in data %} checked {% endif
                %} />
              <label for="beef">Beef and Red Meats</label>
            </div>
            <div>
              <input type="checkbox" id="seafood" name="tag_exclude" value="seafood" {% if "seafood" in data %} checked
                {% endif %} />
              <label for="seafood">Seafood</label>
            </div>
            <div>
              <input type="checkbox" id="dairy" name="tag_exclude" value="dairy" {% if "dairy" in data %} checked {%
                endif %} />
              <label for="dairy">Dairy</label>
            </div>
            <div>
              <input type="checkbox" id="nuts" name="tag_exclude" value="nuts" {% if "nuts" in data %} checked {% endif
                %} />
              <label for="nuts">Nuts</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Cuisine (EXCLUDE)</legend>
            <div>
              <input type="checkbox" id="chinese" name="tag_exclude" value="chinese" />
              <label for="chinese">Chinese</label>
            </div>
            <div>
              <input type="checkbox" id="indian" name="tag_exclude" value="indian" />
              <label for="indian">Indian</label>
            </div>
            <div>
              <input type="checkbox" id="mexican" name="tag_exclude" value="mexican" />
              <label for="mexican">Mexican</label>
            </div>
            <div>
              <input type="checkbox" id="italian" name="tag_exclude" value="italian" />
              <label for="italian">Italian</label>
            </div>
            <div>
              <input type="checkbox" id="japanese" name="tag_exclude" value="japanese" />
              <label for="japanese">Japanese</label>
            </div>
            <div>
              <input type="checkbox" id="cafe" name="tag_exclude" value="cafe" />
              <label for="cafe">Cafe and Coffee</label>
            </div>
          </fieldset>
        </div>
        <div>
          <button type="submit">Search</button>
        </div>
      </form>
    </div>
    <div id="right_col">
      <p>INSERT ALL SEARCH RESULTS INSIDE THIS SECTION</p>
    </div>
  </div>

</body>

</html>