body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 50px;

}

h1 {
    margin: 20px;
    color: #cc0033;
}

h2 {
    margin: 20px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.neutralColor {
    background-color:lightgrey;
    color:black;
    accent-color:black;
}

div.includeColor {
    background-color:lightgreen;
    color:black;
    accent-color:green;
}

div.excludeColor {
    background-color:lightcoral;
    color:black;
    accent-color:red;
}

/* ===== START NAV BAR STYLES ===== */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
}

.topnav a.active {
    background-color: #cc0033;
    color: white;
}

.topnav a.search {
    font-style: oblique;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Formatting for Logo in Navbar*/
.topnav img{
    float:left;
}

.topnav ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

/* ===== END NAV BAR STYLES ===== */

/* ===== START ACCORDIAN STYLES ===== */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
/* ===== END ACCORDIN STYLES ===== */
